<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>Robinson Ortega</h1>

    <ngx-typed-js
      [strings]="[
        'Analista de sistemas',
        'Desarrollador web',
        'Desarrollador móvil',
        'Freelancer',
        'Fotógrafo'
      ]"
      [loop]="true"
    >
      <p>
        Soy
        <span class="typing" style="font-size: 1.2em; font-weight: bold"></span>
      </p>
    </ngx-typed-js>
    <div class="social-links">
      <a
        href="https://www.facebook.com/gatodeth/"
        target="_blank"
        class="facebook"
        ><i class="bx bxl-facebook"></i
      ></a>
      <a
        href="https://www.instagram.com/rkortega_photos/"
        target="_blank"
        class="instagram"
        ><i class="bx bxl-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/rkortega/"
        target="_blank"
        class="linkedin"
        ><i class="bx bxl-linkedin"></i
      ></a>
      <a href="https://github.com/RKOrtega94" target="_blank" class="github"
        ><i class="bx bxl-github"></i
      ></a>
      <a href="https://wa.me/5935983213769?" target="_blank" class="google-plus"
        ><i class="bx bxl-whatsapp"></i
      ></a>
    </div>
  </div>
</section>
