<section id="portfolio" class="portfolio section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Portafolio</h2>
      <p>
        Te presento algunos de mis proyectos y a la vez te comparto el
        repositorio y en algunos casos el demo de la aplicación funcional.
      </p>
    </div>

    <!-- <div class="row">
      <div
        class="col-lg-12 d-flex justify-content-center"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div> -->

    <div
      class="row portfolio-container"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div
        class="col-lg-4 col-md-6 portfolio-item filter-app"
        *ngFor="let project of projects"
      >
        <div class="portfolio-wrap">
          <img src="{{ project.image }}" class="img-fluid" alt="" />
          <div class="portfolio-info">
            <h4>{{ project.name }}</h4>
            <p>{{ project.description }}</p>
            <div class="portfolio-links">
              <a
                href="{{ project.deploy }}"
                target="_blank"
                data-gallery="portfolioGallery"
                class="portfolio-lightbox"
                title="{{ project.name }}"
                ><i class="bx bx-link"></i
              ></a>
              <a
                *ngIf="project.github"
                href="{{ project.github }}"
                target="_blank"
                class="portfolio-details-lightbox"
                data-glightbox="type: external"
                title="Portfolio Details"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
