<section id="skills" class="skills section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Skills</h2>
      <p>
        Estas son algunas de las herramientas de desarrollo web/móbil y edición
        que manejo en mis tareas.
      </p>
    </div>

    <div class="row skills-content">
      <div class="col-lg-6" *ngFor="let skill of skills">
        <div class="progress">
          <span class="skill"
            >{{ skill.name }}<i class="val">{{ skill.percentage }}</i></span
          >
          <div
            class="progress-bar"
            role="progressbar"
            [style.width]="skill.percentage"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
