<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Prfil profesional</h2>
      <p>
        Dominio de desarrollos de software y del trabajo con diferentes
        estructuras de datos.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Educación</h3>
        <div class="resume-item">
          <h4>Tecnologo Analista de Sistemas</h4>
          <h5>2017 - 2021</h5>
          <p><em>Instituto Tecnológico Superior Cordillera, Quito</em></p>
          <p>
            Soporte a usuarios Desarrollador de software Análisis de sistemas
            Dirección y operatividad de proyectos de sistemas Dirección y
            administración de servicios informáticos Generación de proyectos de
            emprendimiento
          </p>
        </div>
        <h3 class="resume-title">Cursos</h3>
        <div class="resume-item" *ngFor="let item of courses">
          <h4>{{ item.title }}</h4>
          <h5>
            {{ item.date }}
          </h5>
          <p>
            <em>{{ item.school }}</em>
          </p>
          <p>
            <i class="bi bi-cloud-arrow-down-fill"></i>
            <a href="{{ item.url }}" target="_blank" class="btn btn-link">
              {{ item.description }}
            </a>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Experiencia profesional</h3>
        <div class="resume-item" *ngFor="let item of jobs">
          <h4>{{ item.job }}</h4>
          <h5>
            {{ item.startDate }} -
            {{ item.isCurrent ? "Presente" : item.endDate }}
          </h5>
          <p>
            <em>{{ item.business }}, {{ item.city }} </em>
          </p>
          <p>{{ item.description }}</p>
        </div>
        <h3 class="resume-title">Actividades extra curriculares</h3>
        <div class="resume-item" *ngFor="let item of extracurricular">
          <h4>{{ item.job }}</h4>
          <p>
            <em>{{ item.description }}</em>
          </p>
          <ul>
            <li>{{ item.business }}, {{ item.city }}</li>
            <li *ngIf="item.date">{{ item.date }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
